/* 
    Created on : 7 jul. 2022, 01:43:01
    Author     : Brandon R
*/

.root{
    margin: 0px;
    background-color: #F6F5F5;
}

.headerTotal{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 80px;
    background-color: #171717;
}

.div_headerPrincipal{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.nav-linksTotal{
    padding-top: 2px;
    display: flex;
    justify-content: space-between;
}

.div-NL-general{
    align-items: center;
    height: 100%;
    white-space: nowrap;
}

.div-nav-links{
    display: flex;
    align-items: center;
}

.navbar-links{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 90px;
    height: 50px;
    padding: 0 10px;
    margin-top: 15px;
    margin-left: 50px;
    margin-right: 40px;
    cursor: pointer;
    border-radius: 18px;
    font-style: normal;
    transform: scale (1);
    transition: background 200ms, color 200ms, webkit-transform 800ms;
    transition: background 200ms, color 200ms, transform 800ms;
    transition: background 700ms, color 700ms, transform 800ms, webkit-transform 700ms;
}

.navbar-links:hover, .navbar-links-active{
    background-color: #2E2E2E;
    font-style: italic;
    transform: scale(0.8);
}


.div-i-general{
    height: 100%;
    white-space: nowrap;
}

.div-icon{
    display: flex;
    top: 12px;
    right: 0px;
    margin-top: 12px;
    margin-right: 2px;
    margin-left: 100px;
    max-width: 100%;
}

.navbar-icon{
    display: flex;
    height: 50px;
}

a{
    font-family: arial;
    outline: none;
    text-decoration: none;
    text-align: center;
    font-weight: normal;
    font-size: 18px;
    color: white;
}

.body{
    position: relative;
    top: 82px;
}

.pie_Pagina{
    position: relative;
    background-color: #101010;
    top: 100px;
    left: 0px;
    width: 100%;
    height: 220px;
}

#pie{
    align-items: center;
    justify-content: center;
    width: 1400px;
    margin: 0px auto !important;
}

.pie_Pagina .TOP{
    position: absolute;
    left: 3.18rem;
    z-index: 3;
}

.order-Top{
    position: relative;
    justify-content: left;
}

.TOP{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 80px;
    height: 80px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: white;
    text-align: center;
    margin-left: 2%;
    background-color: #FBFBFB;
}

.text-top{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}

.redes{
    position: absolute;
    justify-content: flex-end;
    background-color: #171717;
    left: 0px;
    width: 100%;
    top: 0px;
    height: 40px;

}

.footer-links{
    position: absolute;
    width: 100%;
    top: 80px;
    align-items: center;
    height: 30%;
    white-space: nowrap;
    display: flex;
    margin: 0 auto;
    justify-content: center;

}

.formato-links{
    display: flex;
    margin: 0 auto;
    align-items: center;
}

.text-links{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    height: 50px;
    padding: 0 10px;
    margin-left: 10px;
    cursor: pointer;
    font-style: normal;
}

.Copy{
    position: absolute;
    text-align: center;
    width: 100%;
    height: 20px;
    bottom: 20px;
    padding-bottom: 10px;
    white-space: nowrap;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.formato-copy{
    display: flex;
    align-items: center;
}

.text-copy{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    height: 50px;
    padding: 0 10px;
    font-style: normal;
}

#page-body{
    width: 1400px;
    margin: 0px auto !important;
}

.LabelForm{
    font-weight: 600;
    color: gray;
}

.fa-envelope-open-o:before{content:"\f2b7"}
.fa-envelope-open:before{content:"\f2b6"}
.fa-envelope-square:before{content:"\f199"}
.fa-envelope:before{content:"\f0e0"}
.fa-envelope-o:before{content:"\f003"}
