<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <footer th:fragment="footer" class="pie_Pagina">
            <div id="pie" class="order-Top">
                <div class="TOP">
                    <nav class="text-top">
                        <a href="#Arriba" style="color: black;">TOP</a>
                    </nav>
                </div>
            </div>
            <div class="redes">
            </div>
            <div class="footer-links">
                <div class="formato-links">
                    <nav class="text-links">
                        <a href="Terms.html" th:href="@{/Terms}" style="font-size: 14px;">Términos 
                            y condiciones<hr></a>
                    </nav>
                    <nav class="text-links" >
                        <a href="Privacy_Policies.html" th:href="@{/Privacy_Policies}" style="font-size: 14px;">
                            Políticas de privacidad<hr></a>
                    </nav>
                    <nav class="text-links">
                        <a href="About_Us.html" th:href="@{/About_Us}" style="font-size: 14px;">
                            Sobre nosotros<hr></a>
                    </nav>
                    <nav class="text-links">
                        <a href="Contact_Us.html" th:href="@{/Contact_Us}" style="font-size: 14px;">
                            Contáctenos<hr></a>
                    </nav>                    
                </div> 
            </div>
            <div class="Copy">
                <div class="formato-copy" style="font-size: 14px; color: white" >
                    <div class="text-copy">
                        Restaurante derechos reservados &COPY; 2022 <address 
                            style="display: inline"> San José, Costa Rica 
                        </address> <address style="display: inline">Tel 
                            2222-2222</address>
                    </div>                    
                </div>
            </div>  
        </footer>
    </body>
</html>
