<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Brandon Ruiz">
        <meta name="description" content="Este espacio, contendrá los términos
              y condiciones establecidos para la página web"> 
        <link th:href="@{/css/menu.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/css/Body_FooterLinks.css}" rel="stylesheet" type="text/css"/>
    </head>
    <body id="Main" class="root">
        <a name="Arriba"></a>
        <!-- Para montar el header se inicializa con su encapsulador
        y dentro se hacen las subdiviciones necesarias. Para montarlo
        es necesario imaginar esa organización de datos y pasarlo a 
        código. En este caso se hace un div para los enlaces y otro
        para el ícono de cuenta.-->
        <header th:replace="layout/header :: header"></header>
        
        <!-- Hay que cambiar datos para que coincidan con el cambio de 
        idioma pero eso falta por configurar. th:text="#{idioma.idioma}" -->
        <div id="page-body" class="body">   
            <div class="Cuadro-General">
                <aside id="Cuadro1" class="carrusel">
                        <img src="/img/pexels-kampus-production-6684767.jpg" alt="Prueba"
                             width="100%"/>
                </aside>
                <section>
                    <article id="Cuadro2" class="login">
                        <h2 class="Title-login" style="text-align: center;">Iniciar Sesión</h2>
                        <form method="POST" th:action="@{/cliente/Sign_In}">
                            <article class="Username">
                                <label class="Title-Username">Ingrese el correo</label><br>                                
                            </article>         
                            <input class="Username-Datos" type="text" name="username" id="username"><br>
                            <br>
                            <article class="Password">
                                <label class="Title-Pass">Contraseña</label><br>  
                            </article>
                                <input class="Password-Datos" type="password" name="password" id="password"><br>    
                                <label class="Password-Loss">¿Ha olvidado su contraseña?</label>
                            <button type="submit" value="login">Ingresar</button>
                        </form>
                    </article>
                </section>
            </div>            
        </div>
        <footer th:replace="layout/footer :: footer" ></footer>
    </body>
</html>
