<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/header :: head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Brandon Ruiz">
    <meta name="author" content="Laura Segreda">
    <meta name="description" content="Este espacio, contendrá los datos sobre
              la empresa expuestos en la página web">
</head>

<body id="Main" class="root">
    <a name="Arriba"></a>
    <!-- Para montar el header se inicializa con su encapsulador
        y dentro se hacen las subdiviciones necesarias. Para montarlo
        es necesario imaginar esa organización de datos y pasarlo a 
        código. En este caso se hace un div para los enlaces y otro
        para el ícono de cuenta.-->
    <header th:replace="layout/header :: header"></header>

    <div id="page-body" class="body">
        <div class="Posicion_Articulo">
            <div class="Contenedor">
                <div class="Web-Titulo" th:text="#{nosotros.titulo}">Sobre Nosotros</div>
                <div class="Barra-Info">
                    <span class="Contenido" th:text="#{nosotros.contenido}">
                        Restaurante &gt; [[#{nosotros.titulo}]]
                    </span>
                </div>
                <div class="Info_Articulo">
                    <p th:text="#{nosotros.texto1}">
                        En éste lugar usted podrá disfrutar del verdadero sabor de las comidas costarricenses, precios muy accesibles, atención esmerada y un excelente ambiente familiar, un amplio y seguro parqueo.
                    </p>
                    <p th:text="#{nosotros.texto2}">
                        Estamos localizados en uno de los barrios de abolengo más importantes de San José; dentro de una casa con fachada de los años 30, donde la historia toma vida y las técnicas culinarias del siglo XXI se topan con los orígenes de la cocina costarricense. Tres ambientes llenos de arte, deliciosa comida y buena música.
                    </p>

                    <br>
                    <article>
                        <figure>
                            <header class="Subtitulo_Articulo" style="text-align: center;" th:text="#{nosotros.titulochef}">Conoce a nuestros Chef
                            </header>
                            <p th:text="#{nosotros.chef1}">
                                Richard posee un Técnico Superior en Dirección de Cocina, además de una amplia experiencia
                                en restaurantes de gran renombre desde hace más de 10 años. Ha contribuido a la creación
                                de nuevas recetas y la mejora de platillos ya existentes en nuestro negocio.
                            </p>
                            <img src="img/pexels-tirachard-kumtanom-887827.jpg" alt="Chef1" width="100%" />
                            <figcaption style="text-align: center;">Chef: Richard Johnson</figcaption>
                        </figure>
                    </article>

                    <article>
                        <figure>
                            <p th:text="#{nosotros.chef2}">
                                Teresa es la más reciente adiquisición a nuestra cocina. Cuenta con 5 años de experiencia como
                                cocinera de línea profesional en el restaurante de 4 estrellas Buena Vista, cuenta con un gran
                                potencial y capacidad de innovación, además de una gran intuición para identificar combinaciones de sabores.
                            </p>
                            <img src="img/pexels-kampus-production-6684767.jpg" alt="Chef2" width="100%" />
                            <figcaption style="text-align: center;">Chef: Teresa Smith</figcaption>
                        </figure>
                        <br>
                    </article>

                    <article>
                        <figure>
                            <header class="Subtitulo_Articulo" style="text-align: center;" th:text="#{nosotros.tituloinstalaciones}">Nuestras Instalaciones
                            </header>
                            <p th:text="#{nosotros.instalaciones}">
                                El restaurante posee 3 distintas áreas, cada una con un menú y tema diferente. El patio abre para el café (3-6pm) y el bar/cava Cothnejo Fishy se ubica en la planta baja, rodeado de ladrillo y un techo bajo, un lugar muy acogedor ideal para probar nuevas bocas y canapés.
                            </p>
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d653.981493620269!2d-83.9427835062714!3d9.867443515168564!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0dffd10e08213%3A0x4c1e7691d94bc347!2sEl%20Molino%20Gastropub!5e0!3m2!1ses-419!2scr!4v1657668712835!5m2!1ses-419!2scr"
                                width="100%" height="700" style="border:0;
                                        " allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                            <figcaption style="text-align: center;" th:text="#{nosotros.direccion}">Dirección extraída de Google Maps</figcaption>
                        </figure>
                    </article>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="layout/footer :: footer"></footer>
</body>

</html>