<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/header :: head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Brandon Ruiz">
    <meta name="description" content="Este espacio, contendrá las actividades a realizar">
    <link th:href="@{css/actividades.css}" rel="stylesheet" type="text/css" />
</head>

<body id="Main" class="root">
    <a name="Arriba"></a>
    <!-- Para montar el header se inicializa con su encapsulador
            y dentro se hacen las subdiviciones necesarias. Para montarlo
            es necesario imaginar esa organización de datos y pasarlo a 
            código. En este caso se hace un div para los enlaces y otro
            para el ícono de cuenta.-->
    <header th:replace="layout/header :: header"></header>

    <div id="page-body" class="body">
        <div class="Posicion_Articulo">
            <div class="Info_Articulo">
                <br />
                <br />
                <articule>
                    <header class="Subtitulo_Articulo" th:text="#{actividad.titulo}">Concierto de Jazz al aire libre</header>
                    <figure class="Fig-Articulo">
                        <img src="/img/ConciertoJazz.jpg" alt="Concierto Jazz" width="100%" />
                        <figcaption style="text-align: center;" th:text="#{actividad.pa1}">
                            El grupo internacional se ha presentado en más de 20 países
                        </figcaption>
                        <br />
                        <article class="Desc-Articulo" >
                            <p th:text="#{actividad.pa2}">
                                El jazz es un género musical que tiene origen por melodías afroamericanas y
                                mezclas de otros ritmos, y todo comenzó a finales del siglo XIX en los Estados Unidos.
                                El término Jazz se hizo público en un artículo publicado en el "Boletín de San Francisco",
                                en 1913.
                            </p>
                            <p th:text="#{actividad.pa3}">
                                El jazz es un género o estilo musical que surge de la mezcla de diferentes melodías y ritmos
                                afro-norteamericanos, considerado como uno de los más famosos y populares estilos de música del mundo.
                                Este estilo se caracteriza por no basarse en ninguna partitura de forma estructurada.
                            </p>
                        </article>
                        <div class="Boton-Ubi">
                            <button data-toggle="modal" data-target="#exampleModalCenter" type="button"
                                class="Boton-Reservar" th:text="#{actividad.pa4}">Reservar</button>
                            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle" th:text="#{actividad.pa5}">Información de evento
                                            </h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body" th:text="#{actividad.pa6}">
                                            Se ha enviado la información sobre este evento al correo electrónico
                                            registrado
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal" th:text="#{actividad.pa7}">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </figure>
                </articule>
                <br />
                <br />
                <articule>
                    <header class="Subtitulo_Articulo" th:text="#{actividad.pa8}">Noche Mexicana</header>
                    <figure class="Fig-Articulo">
                        <br />
                        <img src="/img/Noche_Mexicana.jpg" alt="Noche-Mexicana" width="100%" />
                        <figcaption style="text-align: center;" th:text="#{actividad.pa9}">
                            Tendremos Chefs especializados
                        </figcaption>
                        <br />
                        <article class="Desc-Articulo">
                            <p th:text="#{actividad.pa10}">
                                Esta fecha conmemora el esfuerzo del pueblo mexicano contra la conquista española.
                                Como verás el objetivo de las familias mexicanas es reunirse, compartir, comer, bailar 
                                y pasar una noche muy agradable conviviendo con los suyos. Con estos tips seguro podrás hacer una 
                                fiesta mexicana donde quiera que estés.
                            </p>
                            <p th:text="#{actividad.pa11}">
                                Una forma de celebrar y preservar nuestra mexicanidad en un ambiente festivo para conmemorar los sucesos
                                de la Independencia del 16 de septiembre de 1810. En su organización pueden participar los alumnos en un espacio de fiesta,
                                de bailes, de juegos y antojitos mexicanos.
                            </p>
                        </article>
                        <div class="Boton-Ubi">
                            <button data-toggle="modal" data-target="#exampleModalCenter" type="button"
                                class="Boton-Reservar" th:text="#{actividad.pa4}">Reservar</button>
                            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle" th:text="#{actividad.pa5}">Información de evento
                                            </h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body" th:text="#{actividad.pa6}">
                                            Se ha enviado la información sobre este evento al correo electrónico
                                            registrado
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal" th:text="#{actividad.pa7}">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </figure>
                </articule>
            </div>
        </div>
    </div>
    <footer th:replace="layout/footer :: footer"></footer>
</body>

</html>