<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head th:replace="layout/header :: head">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Brandon Ruiz">
        <meta name="description" content="Este espacio, pagina inicial">
    </head>

    <body id="Main" class="root">
        <a name="Arriba"></a>
        <header th:replace="layout/header :: header"></header>

        <div id="page-body" class="body">
            <div class="Posicion_Articulo">
                <div class="Info_Articulo">

                    <articule>
                        <header class="Subtitulo_Articulo">Bienvenidos</header>
                        <br/>
                        <h5>Trabajamos para que nuestros clientes siempre deseen volver a visitarnos. 
                            Queremos que vivas una auténtica experiencia con nuestras variadas gastronomías.</h5>
                        <figure class="Fig-Articulo">
                            <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                                <div class="carousel-indicators">
                                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 4"></button>
                                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 5"></button>
                                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 6"></button>
                                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 7"></button>
                                </div>
                                <div class="carousel-inner">
                                    <div class="carousel-item active" data-bs-interval="2000">
                                        <img src="/img/Home/photo-1414235077428-338989a2e8c0.avif" class="d-block w-100">
                                    </div>
                                    <div class="carousel-item" data-bs-interval="2000">
                                        <img src="/img/Home/photo-1541832676-9b763b0239ab.avif" class="d-block w-100">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="/img/Home/photo-1543340713-1bf56d3d1b68.avif" class="d-block w-100">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="img/Home/photo-1565895405227-31cffbe0cf86.avif" class="d-block w-100">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="/img/Home/photo-1565958011703-44f9829ba187.avif" class="d-block w-100">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="/img/Home/photo-1596189181426-7f63a1737f0d.avif" class="d-block w-100">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="/img/Home/photo-1624036096842-6e4eadb5a792.avif" class="d-block w-100" alt>
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </figure>
                    </articule>
                </div>
            </div>
        </div>

        <footer th:replace="layout/footer :: footer"></footer>
    </body>

</html>