<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/header :: head">
    <title>Nuestro menú</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Brandon Ruiz">
    <meta name="description" content="Este espacio contendrá ">
</head>

<body id="Main" class="root">
    <a name="Arriba"></a>
    <!-- Para montar el header se inicializa con su encapsulador
        y dentro se hacen las subdiviciones necesarias. Para montarlo
        es necesario imaginar esa organización de datos y pasarlo a 
        código. En este caso se hace un div para los enlaces y otro
        para el ícono de cuenta.-->
    <header th:replace="layout/header :: header"></header>

    <div id="page-body" class="body">
        <div id="menu-container" class="menu">
            <div id=left class="menu-left">
                <center>
                    <h2 th:text="#{menu.entradas}">Entradas</h2>
                    <p>Trio de Ceviches...…………………………...…….$6950</p>
                    <p>Ceviche de Pescado...…………………………...…….$4700</p>
                    <p>Ceviche Costeño...…………………………...…….$5390</p>
                    <p>Ceviche de Camarón...…………………………...…….$5250</p>
                    <p>Ceviche Mixto...…………………………...…….$4300</p>
                    <p>Canasta de Patacones...…………………………...…….$3900</p>
                    <p>Entrada de la Casa...…………………………...…….$3900</p>
                    <p>Carpaccio de Res...…………………………...…….$8900</p>
                    <p>Carpaccio de Salmón...…………………………...…….$11900</p>
                    <p>Ensalada Especial del Chef...…………………………...…….$4600</p>
                    <p>Ensalada con Salmón...…………………………...…….$5300</p>
                    <p>Ensalada con Salmón...…………………………...…….$5990</p>
                    <p>Sopa de Mariscos...…………………………...…….$6600</p>
                    <p>Olla de Carne pequeña...…………………………...…….$5200</p>
                    <img src="/img/jennduncan-2_1.jpg" width="60%" />
                    <h2 th:text="#{menu.bebidas}">Bebidas</h2>
                    <p>Refresco Natural...…………………………...…….$2500</p>
                    <p>Gaseosos...…………………………...…….$1500</p>
                    <p>Botella de Agua...…………………………...…….$1000</p>
                    <p>Cervezas...…………………………...…….$2500</p>
                    <p>Cocteles...…………………………...…….$4500</p>
                </center>
            </div>
            <div id="center" class="menu-center">
                <center>
                    <h1>Menú</h1>
                    <img src="/img/fast-food-restaurant.jpg" width="60%" />
                    <h2 th:text="#{menu.almuerzos}">Almuerzos</h2>
                    <p>Parrillada Campesina (2 Personas)...…………………………...…….$21900</p>
                    <p>Parrillada campesina (4 personas)...…………………………...…….$39900</p>
                    <p>Parrillada Campesina Delux (4 personas)...…………………………...…….$0000</p>
                    <p>Surtido Criollo (2 personas)...…………………………...…….$21900</p>
                    <p>Surtido Criollo (4 personas)...…………………………...…….$39900</p>
                    <p>Parrillada de Mariscos (2 personas)...…………………………...…….$21900</p>
                    <p>Parrillada de Mariscos (4 personas)...…………………………...…….$39900</p>
                    <p>Canasta de chicharrones...…………………………...…….$27900</p>
                    <p>Mar y Tierra...…………………………...…….$15400</p>
                    <p>Lomito de Res...…………………………...…….$13250</p>
                    <p>Rib Eye...…………………………...…….$15800</p>
                    <p>Churrasco...…………………………...…….$16900</p>
                    <p>T-Bone...…………………………...…….$17900</p>
                    <p>Filet a la Calipso...…………………………...…….$14900</p>
                    <p>Salmón Grillado...…………………………...…….$13400</p>
                    <p>Pescado Entero Frito...…………………………...…….$10600</p>
                    <p>Pulpo Caribeño...…………………………...…….$13900</p>
                    <p>Arroz con Camarones...…………………………...…….$6900</p>
                    <p>Arroz con Pollo...…………………………...…….$6200</p>
                    <p>Rice and Beans...…………………………...…….$6900</p>
                    <p>Casado Típico...…………………………...…….$6400</p>
                    <p>Chifrijo...…………………………...…….$6750</p>
                    <img src="/img/grilled-prawn.jpg" width="60%" />
                </center>
            </div>
            <div id="left" class="menu-left">
                <center>
                    <h2 th:text="#{menu.infantil}">Menú Infantil</h2>
                    <p>Nuggets con papas...…………………………...…….$3500</p>
                    <p>Hamburguesa con papas...…………………………...…….$4500</p>
                    <p>Pizza personal...…………………………...…….$5500</p>
                    <img src="img/screen-shot-2020-12-07-at-11-15-41-am-1607358551.png" width="60%" />
                    <h2 th:text="#{menu.postres}">Postres</h2>
                    <p>Meringatta de Frutos Rojos...…………………………...…….$4100</p>
                    <p>Torta de Crema Italiana...…………………………...…….$4500</p>
                    <p>Tiramisú...…………………………...…….$3900</p>
                    <p>Cazuela de Galleta...…………………………...…….$4800</p>
                    <p>Torta Capresse...…………………………...…….$4500</p>
                </center>
            </div>
        </div>

    </div>
    <footer th:replace="layout/footer :: footer"></footer>
</body>

</html>